*{
    margin: 0px;
    padding: 0px;
}
.header{
    width: auto;
    height: 100px;
    background-color: aqua;
}

.content{
    width: auto;
    height: 1200px;
    background-color: blueviolet;
}

.footer{
    width: auto;
    height: 200px;
    background-color: coral;
}
.right_side{
float: right;
width: 200px;
height: auto;
padding-top: 1200px;
background-color: crimson;
}

.center_side{

float: none;
height: auto;
margin-left: 200px;
margin-right: 200px;

background-color: darkgray;
}

.left_side{
float: left;
width: 200px;
height: auto;
padding-top: 1200px;
background-color: darkcyan;
}
p{
    position: absolute;
    
}


/*<!-- Begin/Menu-->*/
nav ul{
    list-style: none;
    background-color: #1e1e1e;
}

nav > ul > li{
    float: left;
}

nav ul::after{
    content: "";
    display: block;
    clear: both;
}

nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    width: 125px;
}

nav ul li a:hover{
    background-color: #950740;
}

nav ul ul{
    display: none;
    position: absolute;
}

nav ul li:hover ul{
    display: block;
}
/*<!-- End/Menu-->*/
