* {
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
}
.header {
    width: auto;
    height: 100px;
    background-color: aqua;
}

.content {
    width: auto;
    height: 1200px;
    background-color: blueviolet;
}

.footer {
    width: auto;
    height: 200px;
    background-color: coral;
}

.right_side {
    float: right;
    width: 200px;
    height: auto;
    padding-top: 1200px;
    background-color: crimson;
}

.center_side {
    margin-left: 200px;
    margin-right: 200px;
    height: 1200px;
    background-color: darkgray;
    
    overflow: auto;
}
.rew{
    background-color: rgb(212, 211, 211);
    width: 1483px;
    padding-left: 20px;
    text-align: center;
    
}

.left_side {
    float: left;
    width: 200px;
    background-color: white;
    
}
.left_side a:visited{  
    color: black;
}
.left_side a:hover{  
    color: blue;
}





/*<!-- Begin/Menu-->*/
nav ul {
    list-style: none;
    background-color: #1e1e1e;
}

nav>ul>li {
    float: left;
}

nav ul::after {
    content: "";
    display: block;
    clear: both;
}

nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    width: 125px;
}

nav ul li a:hover {
    background-color: #950740;
}

nav ul ul {
    display: none;
    position: absolute;
}

nav ul li:hover ul {
    display: block;
}

/*<!-- End/Menu-->*/


/*Begin Верхнии картинки-ссылки*/
.vk {
    background: url(../pictures/vk.png) no-repeat center;
    width: 30px;
    height: 30px;
    float: right;

    padding-top: 9px;
    padding-right: 5px;
}

.vk:hover {
    background: url(../pictures/vk2.png) no-repeat center;
    width: 30px;
    height: 30px;
    float: right;

    padding-top: 9px;
    padding-right: 5px;
}


.fb {
    background: url(../pictures/fb.png) no-repeat center;
    width: 30px;
    height: 30px;
    float: right;
    padding-top: 9px;
    padding-right: 20px;

}

.fb:hover {
    background: url(../pictures/fb2.png) no-repeat center;
    width: 30px;
    height: 30px;
    float: right;
    padding-top: 9px;
    padding-right: 20px;

}

.inputtext {
    margin-top: 10px;
    float: right;

}

.picsearch {
    background: url(../pictures/search.png);
    width: 30px;
    height: 30px;
    float: right;
    margin-right: 5px;
    margin-top: 3px;
}

.picsearch:hover {
    background: url(../pictures/search2.png);
    width: 30px;
    height: 30px;
    float: right;
    margin-left: 5px;
    margin-top: 3px;
}

/*End Верхнии картинки-ссылки*/

/*Begin оставшаяся часть header*/
.nameofsite {
    text-align: center;
    color: black;
    padding-top: 10px;
    height: 51px;
    background: url(../pictures/back.jpg) no-repeat center;
    background-size: 100%;


}

div.nameofsite h1 {
    float: right;
    text-align: center;
    width: 500px;
    border: 2px solid white;
    background-color: #1e1e1e;
    color: white;
    text-align: center;
    border-radius: 10px;
}

/*End оставшаяся часть header*/

/*Begin Menu left*/
.menu{
    margin: 0;
    padding: 0;
    height: 1200px;
}
/*End Menu left*/

